body{background:black;
  color:#f6eeee; 
  font-family:'Times New Roman', Times, serif;
  text-shadow: #3c04f5;
  color: aqua;
}
.am{display: flex;
margin-left: 45%;}
      .t{
        display: flex;
        margin: 5%;
        border-radius: 50px;
        margin-left: 28%;
       
      }
      .titre{
        text-align: center;
        text-decoration: underline;
       
        margin-left: 0%;
        
      }
      a{
        text-decoration: none;
        margin:30px;}
        .haut{display: flex;
        justify-content: center;}
        
        .al{
          display: flex;
          margin-left: 40%;
          text-decoration: underline;
        }
        img{
          margin-left: 10%;}
          h1{margin-left: 30%;}
          video{
              height: 50%;
              width: 50%;}  
          h1{margin-left: 30%;}
          h2{margin-left: 30%;}
        video{
            width: 100%;
            height: auto;
        }
        .pho{
        text-align: center;
        }
        form {
          width: 300px;
          margin: 0 auto;
          padding: 20px;
          opacity:initial;
          border-radius: 5px; 
      }

      label {
          display: block;
          color: #0d0d0d;
          margin-bottom:5px;
      }
      h1 {
        margin-left: 10%;
      }
      input[type="text"],
      input[type="email"],
      textarea {
          width: 100%;
          padding: 10px;
          border-radius:3px;
      }
       footer{
        margin: 3%;
        display: flex;
        justify-content: space-evenly;
    }

      textarea {
          height: 100px;
      }

      input[type="submit"] 
      {
          background-color:#0c0c0c;
          
          padding: 10px 20px;
          border-radius: 3px;
          cursor: pointer;
      }
      .grid-container {
        display: grid;
        column-gap: 40px  40px 40px;
        margin-left: 20%;
        grid-template-columns: auto auto auto;
        padding: 10px;
        opacity: initial;
      }
      .image3 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 10px;
        text-align: center;
      opacity: initial;}
      .grid-container2 {
        display:flex;
        justify-content: center;
         border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
            border-radius: 30px; /* Coins arrondis */
            box-shadow: 0 4px 15px
      }
      .ac{
        margin-left: 11%;
      }
      .s {
        display: flex;
        justify-content: flex-start;
        border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
            border-radius: 30px; /* Coins arrondis */
            box-shadow: 0 4px 15px 
      }
      .m {
        display: flex;
        justify-content: flex-start;
        border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
            border-radius: 30px; /* Coins arrondis */
            box-shadow: 0 4px 15px 
      }
      .f {
        display: flex;
        justify-content: flex-start;
        border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
            border-radius: 30px; /* Coins arrondis */
            box-shadow: 0 4px 15px
      }
      .image2 {
        
        padding: 10px;
        font-size: 10px;
        text-align: center;
      opacity: initial;}


      
        @media (max-width: 768px) {
            body {
              font-size: 14px;
            }
            .tete {
              grid-template-columns: 1fr;
            }
            video {
              width: 100%;
              height: 30%;
              margin-left: 0%;
              
            }
            img {
              width: 100%;
              height: auto;
            }
            .footer{
              width: 10%;
              height: auto;
            }
            h1 {
              margin-left: 10%;
            }
            /* Autres ajustements pour les petits écrans */
          }
          
          /* Media Query pour tablettes */
          @media (min-width: 769px) and (max-width: 1024px) {
            /* Styles spécifiques pour les tablettes */
            .ac{
              margin-left: -15%;
            }
            .t{
              
              margin-left: 20%;
             
            }
            
          }
          
          /* Media Query pour grands écrans */
          @media (min-width: 1025px) {
            /* Styles spécifiques pour les grands écrans */
          }